.navbar{
  width: 100%;
  height: 100vh;
  background: url(https://imgv3.fotor.com/images/blog-cover-image/%E6%88%BF1-a.jpg);
  background-size: cover;


}
.navbar-1{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.navbar-2{
  width: 80%;
  height: 70px;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.logo{
  width: 50%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.items{
  width: 50%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;

}
.logo h1{
  color: rgb(5, 114, 165);
}
.items span{
  opacity: 0.6;
}
.head{
  width: 100%;
  height: 60px;
}
.head h1{
  text-align: center;
  color: white;
  font-size: 40px;
}
.search{
  width: 46%;
  margin: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* justify-content: center; */
  /* background-color: bisque; */
}
.search input{
  width: 450px;
  height: 50px;
  border-radius: 50px;
  border: hidden;
  outline: hidden;
  text-align: center;
  font-size: large;
}
.search button{
  width: 120px;
  height: 50px;
  border-radius: 30px;
  border: hidden;
  outline: hidden;
  color: white;
  font-size: large;
  background-image: linear-gradient(rgb(245, 80, 102),rgb(250, 36, 243));
}
.txt{
  width: 44%;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
}
.txt span{
  /* text-align: center; */
  font-size:17px;
  color: white;
}
.prop{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prop a{
  color: rgb(6, 171, 171);
  font-size: large;
}
/* -----------------------------------------contents---------------------------------------- */
.cards{
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* justify-content: center; */

}
.cards-four{
  width: 250px;
  border-radius: 5px;
  height: 150px;
  margin-top: 4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 3px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.cards-four img{
  width: 60px;
  height: 60px;
}
.cards-four span{
  font-size: 18px;
  opacity: 0.7;
}
.cards-four:hover{
  transform: translateY(-20px);
}
/* --------------------------------------------properties----------------------------------------------- */
.properties{
  width: 90%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.properties h1{
  color: rgb(5, 114, 165);
}
.properties button{
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: hidden;
  outline: hidden;
  color: white;
  font-size: large;
  background-image: linear-gradient(rgb(245, 80, 102),rgb(250, 36, 243));
  transition: transform 0.3s ease;
}
.properties button:hover{
  transform: translateY(-3px);
  box-shadow: 0 0 10px gray;
}
.houses{
  margin: auto;
  width: 90%;
  height: 550px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: absolute; */
  /* justify-content: space-evenly; */
}
.house{
  width: 33%;
  height: 530px;
  display: flex;
  flex-direction: column;
  /* background-color: cadetblue; */
  /* position: absolute; */
}
.house img{
  width: 100%;
  height: 380px;
}
button{
  cursor: pointer;
}

.details{
  display: flex;
  align-items: center;
  height: 180px;
  width: 97%;
  box-shadow: 0 0 5px gray;
  margin-top: -3rem;
  background-color: white;

}
.details h1{
  font-size: 22px;
  border-bottom: 3px solid rgb(130, 3, 130);
}
.details span{
  opacity: 0.6;
  font-size: 14px;
}
.bed{
  width: 55%;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
}
.bed img{
  height: 20px;
  width: 20px;
}
.dts{
margin: auto;
width: 80%;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
justify-content: space-evenly;
}
/* ----------------------------------------testimony--------------------------------------- */
.test{
  width: 90%;
  margin: auto;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.prev{
  width: 140px;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.prev span{
  height: 35px;
  width: 65px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 227, 227);
  font-size: small;
}
.test h1{
  color: rgb(5, 114, 165);
}
.prev span:hover{
  background-color:cadetblue ;
  color: white;
}
.persons{
  width: 90%;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.person-1{
  height: 320px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.person-1 img{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.person-1 h2{
  color: rgb(3, 93, 96);
  font-weight: normal;
}
.dcf{
  opacity: 0.6;
}
/* ------------------------------------------------------------------ */
.underline{
  border-bottom: 1px solid rgb(151, 149, 149);
  opacity: 0.6;
  width: 100%;
  height: 50px;
}
.head-1{
  width: 40%;
  margin: auto;
  height: 100px;
}
.head-1 h1{
  text-align: center;
  color: rgb(5, 114, 165);

}
.para{
  width: 42%;
  height: 80px;
  margin: auto;
}
.para span{
  text-align: center;
  opacity: 0.6;
}
.quality{
  width: 90%;
  margin: auto;
  height: 420px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.image{
  width: 55%;
  height: 420px;
}
.image img{
  width: 100%;
  height: 100%;
}
.top{
  width: 45%;
  height: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.top-1{
  width: 80%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.top-11{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(210, 209, 209);
  transition: border-color 0.3s ease;
  border: 3px solid rgb(201, 201, 201);
  transition: transform 0.3s ease-in;

}
.dtsls{
  width: 75%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.top-11 img{
  width: 20px;
  height: 20px;
}
.dtsls h2{
  font-size: 18px;
}
.top-11:hover{
  background-color: rgb(247, 249, 249);
  border-color: rgb(3, 177, 177);
  transform: scale(1.1);
}
.dtsls span{
  opacity: 0.6;
}
.counts{
  width: 90%;
  margin: auto;
  height: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.count{
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
}
.count h1{
  color: rgb(3, 119, 137);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
.count span{
  opacity: 0.6;
}
.base{
  width: 100%;
  height: 100px;
}
/* ------------------------------------------------------------------------------------ */
.agent{
  width: 100%;
  height: 150px;
  background-color: rgba(243, 242, 242, 0.954);
  display: flex;
  align-items: last baseline;
  justify-content: center;
}
.agent-1{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(243, 242, 242, 0.954);


}
.agent h1{
  color: rgb(4, 134, 130);
  text-align: center;
}
.agent-1 span{
  opacity: 0.6;
  /* text-align: center; */
}
.agent-11{
  width: 45%;
  height: 100%;
  margin: auto;
}
.cards-three{
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(243, 242, 242, 0.954);


}
.cards-three-1{
  width: 350px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 3px;
}
.name{
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icons{
  width:60%;
  margin: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.cards-three-1 img{
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: -3rem;
}
.icons img{
  width: 35px;
  height: 35px;
  margin-top: 1rem;
}
.spann{
  width: 100%;
  display: flex;
  align-items: center;

}
.spann span{
  padding: 10px;
  text-align: center;
}
.james{
  font-weight: bold;
}
.real{
  opacity: 0.6;
}
.footer{
  width: 100%;
  height: 600px;
  background-color: rgb(239, 237, 237);
}
.text{
  width: 50%;
  margin: auto;
  height: 120px;
  display: flex;
  align-items: center;

}
.text h1{
  text-align: center;
  color: rgb(3, 116, 116);
  font-weight: normal;
}
.btn{
  width: 320px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: auto;
}
.btn button{
  height: 60px;
  width: 280px;
  border-radius: 30px;
  background-image: linear-gradient(rgb(213, 7, 127),rgb(141, 4, 136));
  font-size: 18px;
  border: hidden;
  outline:none;
  color: white;
  transition: transform 0.3s ease;


}
.btn button:hover{
  transform: translateY(-3px);
  box-shadow: 0 0 10px white;
}
.desc{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.desc-1{
  width: 100%;
  height: 50px;
}
.contact{
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.source{
  width: 70px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.source2{
  width: 150px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.links{
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.media{
  width:70%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.media img{
  width: 30px;
  height: 30px;
}
.desc a{
  text-decoration: none;
  color: black;
  opacity: 0.6;
  border-bottom: 3px solid rgb(230, 229, 229);
}
.desc h4{
  color: rgb(3, 118, 143);
  font-size: small;
}
.desc a:hover{
  border-bottom: 3px solid rgb(3, 168, 176);
}
.desc img{
  transition: transform 0.3s ease;
}
.desc img:hover{
  transform: translateY(-3px);
}
.menus{
  text-decoration: none;
  color: black;
  opacity:0.9;
}
/* ----------------------------------properties-------------------------------------- */
.properties-head{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: rgb(31,111,139);
}
.properties-head h1{
  color: white;
  font-size: 30px;
}
.properties-head span{
  color: white;
}